
*{
  margin: 0;
  font-family:  sans-serif;

}
.parallax {
  height: 90vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../parallax3.png);
}


/* CLOTHING PAGE SECTION */
.logosmall img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
ul2 li{
  display: inline-block;
}
ul2 li a{
  text-decoration: none;
  color: #000;
  padding: 5px 15px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}
ul2 li a:hover{
  background-color: #000;
  color: #fff;
}
.pagelinks{
  top: 75px;
  height: 50px;
  width: 100%;
  /* STYLING */
  background: #FFF;
  color: #f2f2f2;
  display: table;
  position: absolute;
  border: 1px solid #000;
}
.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  top: -1px ;
  width: 100%;
  background: #FFF;
  border: 1px solid #000;
  }
body{
  padding-top: 0px;
  background: #FFFAFA;
  max-width: 100%;
  overflow-x: hidden;
}

.outfit {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3em;
}

/* TOPS SECTION */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #f1f1f1;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: auto;
  width: auto;
  display: flex;
}

.box > .task {
  flex: 1;
}

.box1 {
  background-color: #f1f1f1;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: auto;
  width: auto;
}

.task {
  background-color: #f0f0f0;
  color: black;
  padding: 5px;
  margin: 4px;
  height: auto;
  width: auto;
}
.task button {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
